{% block content %}
{%include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/register-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h2>Update Password</h2>
        </div>
      </div>
    </div>
  </div>
</header>


<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!-- TODO:-Add CKEditor and render the form here -->
     {% if not update: %}
    <form action="{{url_for('verify',email_code=email_code,email=email)}}" method="POST">
    <p style="color:red">{{error}}</p>
    <p style="color:green">{{success}}</p>
      <div class="mb-3">
        <input class="form-control"  style="width:60%" type="number" name="code" placeholder="Verification code" required="required" />
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-large">Verify</button>
      <br>
    </form>
    {% endif %}

    {% if update: %}
    <form action="{{url_for('update_passwords',email=email)}}" method="POST">
    <p style="color:red">{{error}}</p>
    <p style="color:green">{{success}}</p>
      <div class="mb-3">
        <input class="form-control" style="width:60%" type="password" name="password" placeholder="Password" value="{{password}}" required="required" />
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-large">Update</button>
      <br>
    </form>
    {% endif %}

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
{% endblock %}
